<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- FUENTE -->
    <link rel="stylesheet" href="../resources/css/poppins.css">
    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">
    <link rel="stylesheet" href="../resources/css/change-password.css">
</head>
<body>
    <main>
        <form id="emailSender" class="show">
            <input placeholder="email" type="text" name="correoAdministrador" id="correoAdministrador" autocomplete="off">
            <button type="submit">Submit</button>
        </form>
    
        <form id="emailValidator">
            <input placeholder=" code" type="text" name="codigoSecretoContraseña" id="codigoSecretoContraseña" autocomplete="off">
            <button type="submit">Submit</button>
        </form>
    
        <form id="changePassword">
            <input placeholder="clave" type="text" name="claveNueva" id="claveNueva">
            <input placeholder="confirmar clave" type="text" name="confirmarClave" id="confirmarClave">
            <button type="submit">Submit</button>
        </form>
    </main>


    <!-- SWEET ALERTS -->
    <script src="../resources/js/sweetalert.min.js"></script>

    <!-- CONTROLADORES GENERALES -->
    <script src="../controllers/utils/components.js"></script>
    <script src="../controllers/utils/template.js"></script>

    <!-- CONTROLADORES ESPECIFICOS -->
    <script src="../controllers/private/change-password.js"></script>
</body>

</html>