<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">

    <!-- EMPLOYEES-->
    <link rel="stylesheet" href="../resources/css/employees.css">
</head>

<body>
    <div id="TEMPLATE"></div>
    <main>
        <div class="main-row-1">
            <b class="employee-title">Employees</b>
            <div class="employee-elements">
                <div class="searchbar">
                    <input type="search" class="search">
                    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.5465 0C5.18004 0 0 5.37161 0 11.9735C0 18.5754 5.18004 23.947 11.5465 23.947C13.5001 23.9466 15.4107 23.4293 17.1028 22.458C18.0031 21.9412 19.1677 21.9944 19.8883 22.7416L23.9017 26.9034C24.4794 27.5025 25.4389 27.5025 26.0166 26.9034C26.5654 26.3344 26.5654 25.433 26.0166 24.8639L21.8408 20.5337C21.158 19.8256 21.1083 18.7336 21.5828 17.8718C22.5673 16.0838 23.0925 14.0521 23.093 11.9735C23.093 5.37161 17.9129 0 11.5465 0Z"
                            fill="#888888" />
                    </svg>
                </div>
                <div class="filter">
                    <select id="options" name="options">
                        <option value="option1">Filter</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="main-row-2">

            <div class="employee-info">
                <div class="employee-info-content">
                    <p class="employee-id">ID: 00001</p>
                    <b class="employee-name">Marcela Gozo</b>
                    <div class="employee-info-content-email">
                        <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                        <div class="copy-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                    fill="#888888" />
                                <path
                                    d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                    fill="#888888" />
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="employee-info-icon">
                    <a href="employee-info.html">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28.5 0C12.7851 0 0 12.7851 0 28.5C0 44.2149 12.7851 57 28.5 57C44.2149 57 57 44.2149 57 28.5C57 12.7851 44.2149 0 28.5 0ZM31.35 42.75H25.65V25.65H31.35V42.75ZM31.35 19.95H25.65V14.25H31.35V19.95Z"
                                fill="#9B9B9B" />
                        </svg>
                    </a>

                </div>
            </div>
            <div class="employee-info">
                <div class="employee-info-content">
                    <p class="employee-id">ID: 00001</p>
                    <b class="employee-name">Marcela Gozo</b>
                    <div class="employee-info-content-email">
                        <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                        <div class="copy-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                    fill="#888888" />
                                <path
                                    d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                    fill="#888888" />
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="employee-info-icon">
                    <a href="employee-info.html">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28.5 0C12.7851 0 0 12.7851 0 28.5C0 44.2149 12.7851 57 28.5 57C44.2149 57 57 44.2149 57 28.5C57 12.7851 44.2149 0 28.5 0ZM31.35 42.75H25.65V25.65H31.35V42.75ZM31.35 19.95H25.65V14.25H31.35V19.95Z"
                                fill="#9B9B9B" />
                        </svg>
                    </a>

                </div>
            </div>
            <div class="employee-info">
                <div class="employee-info-content">
                    <p class="employee-id">ID: 00001</p>
                    <b class="employee-name">Marcela Gozo</b>
                    <div class="employee-info-content-email">
                        <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                        <div class="copy-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                    fill="#888888" />
                                <path
                                    d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                    fill="#888888" />
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="employee-info-icon">
                    <a href="employee-info.html">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28.5 0C12.7851 0 0 12.7851 0 28.5C0 44.2149 12.7851 57 28.5 57C44.2149 57 57 44.2149 57 28.5C57 12.7851 44.2149 0 28.5 0ZM31.35 42.75H25.65V25.65H31.35V42.75ZM31.35 19.95H25.65V14.25H31.35V19.95Z"
                                fill="#9B9B9B" />
                        </svg>
                    </a>

                </div>
            </div>
            <div class="employee-info">
                <div class="employee-info-content">
                    <p class="employee-id">ID: 00001</p>
                    <b class="employee-name">Marcela Gozo</b>
                    <div class="employee-info-content-email">
                        <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                        <div class="copy-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                    fill="#888888" />
                                <path
                                    d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                    fill="#888888" />
                            </svg>
                        </div>
                    </div>

                </div>
                <div class="employee-info-icon">
                    <a href="employee-info.html">
                        <svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28.5 0C12.7851 0 0 12.7851 0 28.5C0 44.2149 12.7851 57 28.5 57C44.2149 57 57 44.2149 57 28.5C57 12.7851 44.2149 0 28.5 0ZM31.35 42.75H25.65V25.65H31.35V42.75ZM31.35 19.95H25.65V14.25H31.35V19.95Z"
                                fill="#9B9B9B" />
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </main>

    <!-- TEMPLATE DASHBOARD -->
    <script src="../controllers/utils/template.js"></script>
</body>

</html>