<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">
</head>

<body>
    <div id="TEMPLATE"></div>


    <!-- TEMPLATE DASHBOARD -->
    <script src="../controllers/utils/template.js"></script>
</body>

</html>