<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">

    <!-- EMPLOYEE REQUEST APPROVED -->
    <link rel="stylesheet" href="../resources/css/employee-request-approved.css">
</head>

<body>
    <div id="TEMPLATE"></div>

    <main>

        <b class="employee-title">Entry Request</b>
        <div class="main-col">


            <div class="main-col-1">



                <div class="employee-info">
                    <p class="employee-id">ID: 00001</p>
                    <b class="employee-name">Marcela Gozo</b>
                    <div class="employee-info-email">
                        <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                        <div class="copy-icon">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                    fill="#888888" />
                                <path
                                    d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                    fill="#888888" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="calendar-info">
                    <p>calendario</p>
                </div>
            </div>
            <div class="main-col-2">
                <div class="attached-files">

                    <b class="attached-files-title">Attached Files</b>

                    <div class="btn-report-pdf">
                        <div class="btn-report-cont">
                            <svg class="btn-report-img" height="70" width="70" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 26 26" xml:space="preserve" fill="#fffffff"
                                style="--darkreader-inline-fill: #e8e6e3; --darkreader-inline-stroke: #e8e6e3;"
                                stroke="#fffffff">

                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier">
                                    <g>
                                        <path style="fill: #ffffff; --darkreader-inline-fill: #e6e4e1;"
                                            d="M25.162,3H16v2.984h3.031v2.031H16V10h3v2h-3v2h3v2h-3v2h3v2h-3v3h9.162 C25.623,23,26,22.609,26,22.13V3.87C26,3.391,25.623,3,25.162,3z M24,20h-4v-2h4V20z M24,16h-4v-2h4V16z M24,12h-4v-2h4V12z M24,8 h-4V6h4V8z"
                                            data-darkreader-inline-fill="" />
                                        <path style="fill: #e8e6e3; --darkreader-inline-fill: #e6e4e1;"
                                            d="M0,2.889v20.223L15,26V0L0,2.889z M9.488,18.08l-1.745-3.299c-0.066-0.123-0.134-0.349-0.205-0.678 H7.511C7.478,14.258,7.4,14.494,7.277,14.81l-1.751,3.27H2.807l3.228-5.064L3.082,7.951h2.776l1.448,3.037 c0.113,0.24,0.214,0.525,0.304,0.854h0.028c0.057-0.198,0.163-0.492,0.318-0.883l1.61-3.009h2.542l-3.037,5.022l3.122,5.107 L9.488,18.08L9.488,18.08z"
                                            data-darkreader-inline-fill="" />
                                    </g>
                                </g>

                            </svg>

                            <span class="btn-report-text">Justification Letter</span>
                        </div>
                    </div>
                    <div class="btn-report">
                        <div class="btn-report-cont">
                            <svg class="btn-report-img" height="70" width="70" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 26 26" xml:space="preserve" fill="#fffffff"
                                style="--darkreader-inline-fill: #e8e6e3; --darkreader-inline-stroke: #e8e6e3;"
                                stroke="#fffffff">

                                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                <g id="SVGRepo_iconCarrier">
                                    <g>
                                        <path style="fill: #ffffff; --darkreader-inline-fill: #e6e4e1;"
                                            d="M25.162,3H16v2.984h3.031v2.031H16V10h3v2h-3v2h3v2h-3v2h3v2h-3v3h9.162 C25.623,23,26,22.609,26,22.13V3.87C26,3.391,25.623,3,25.162,3z M24,20h-4v-2h4V20z M24,16h-4v-2h4V16z M24,12h-4v-2h4V12z M24,8 h-4V6h4V8z"
                                            data-darkreader-inline-fill="" />
                                        <path style="fill: #e8e6e3; --darkreader-inline-fill: #e6e4e1;"
                                            d="M0,2.889v20.223L15,26V0L0,2.889z M9.488,18.08l-1.745-3.299c-0.066-0.123-0.134-0.349-0.205-0.678 H7.511C7.478,14.258,7.4,14.494,7.277,14.81l-1.751,3.27H2.807l3.228-5.064L3.082,7.951h2.776l1.448,3.037 c0.113,0.24,0.214,0.525,0.304,0.854h0.028c0.057-0.198,0.163-0.492,0.318-0.883l1.61-3.009h2.542l-3.037,5.022l3.122,5.107 L9.488,18.08L9.488,18.08z"
                                            data-darkreader-inline-fill="" />
                                    </g>
                                </g>

                            </svg>

                            <span class="btn-report-text">Justification Letter</span>
                        </div>
                    </div>
                </div>
                <div class="date-range">
                    date range
                </div>
            </div>
        </div>
        <div class="main-row-1">

        </div>
    </main>

    <!-- TEMPLATE DASHBOARD -->
    <script src="../controllers/utils/template.js"></script>
</body>

</html>