<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- FUENTE -->
    <link rel="stylesheet" href="../resources/css/poppins.css">

    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- FONT MANAGER -->
    <link rel="stylesheet" href="../resources/css/font-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">
    
    <!-- EMPLOYEE INFO -->
    <link rel="stylesheet" href="../resources/css/employee-info.css">
</head>

<body>
    <div id="TEMPLATE"></div>

    <main>
        <div class="main-row-1">
            <div class="employee-info">
                <p class="employee-id">ID: 00001</p>
                <b class="employee-name">Marcela Gozo</b>
                <p class="employee-charge">Designer</p>
                <div class="employee-info-email">
                    <p class="employee-email">marcelagozo@glassmountainbpo.com</p>
                    <div class="copy-icon">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18 0H8C7.46957 0 6.96086 0.210714 6.58579 0.585786C6.21071 0.960859 6 1.46957 6 2V4H14C14.5304 4 15.0391 4.21071 15.4142 4.58579C15.7893 4.96086 16 5.46957 16 6V14H18C18.5304 14 19.0391 13.7893 19.4142 13.4142C19.7893 13.0391 20 12.5304 20 12V2C20 1.46957 19.7893 0.960859 19.4142 0.585786C19.0391 0.210714 18.5304 0 18 0Z"
                                fill="#888888" />
                            <path
                                d="M2 20H12C13.103 20 14 19.103 14 18V8C14 6.897 13.103 6 12 6H2C0.897 6 0 6.897 0 8V18C0 19.103 0.897 20 2 20ZM4 10H10V12H4V10ZM4 14H10V16H4V14Z"
                                fill="#888888" />
                        </svg>
                    </div>
                </div>
            </div>

        </div>
        <div class="main-row-2">
            
        </div>
        <div class="main-row-3">
            <div class="dash-inbox-content">

                <!-- INICIO TARJETA -->
                <div class="dash-inbox-content-card card">
                    <div class="dash-inbox-content-card-col1 padding">
                        <!-- Icono -->
                        <a href="employee-request-rejected.html">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path var(--color-extra-1)
                                    d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM22 30H18V18H22V30ZM22 14H18V10H22V14Z"
                                    fill="#9B9B9B" />
                            </svg>
                        </a>

                    </div>
                    <div class="dash-inbox-content-card-col2 padding">

                        <!-- Fecha de inicio -->
                        <div class="marked-zone">
                            <p class="dash-inbox-content-card-date">31-12-2024</p>
                            <p class="dash-inbox-content-card-time">7:00 am</p>
                        </div>

                        <!-- Icono -->
                        <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="var(--color-extra-1)"
                                d="M2.76337 25.638C3.54021 26.3956 4.7795 26.3956 5.55629 25.6379L16.5322 14.9317C17.3369 14.1468 17.3369 12.8532 16.5322 12.0683L5.55629 1.3621C4.7795 0.604398 3.54021 0.604352 2.76337 1.362L1.46822 2.62513C0.663382 3.41009 0.663448 4.70399 1.46837 5.48886L8.21565 12.0681C9.02062 12.853 9.02062 14.147 8.21565 14.9319L1.46837 21.5111C0.663447 22.296 0.663382 23.5899 1.46822 24.3749L2.76337 25.638Z"
                                fill="#737373" />
                        </svg>

                        <!-- Fecha final -->
                        <div class="marked-zone">
                            <p class="dash-inbox-content-card-date">01-01-2025</p>
                            <p class="dash-inbox-content-card-time">3:00 pm</p>
                        </div>
                    </div>
                    <button class="rejected-button">REJECTED</button>
                </div>
                <!-- FINAL TARJETA -->

                <!-- INICIO TARJETA -->
                <div class="dash-inbox-content-card">
                    <div class="dash-inbox-content-card-col1 padding">
                        <!-- Icono -->
                        <a href="employee-request-approved.html">
                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path var(--color-extra-1)
                                    d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM22 30H18V18H22V30ZM22 14H18V10H22V14Z"
                                    fill="#9B9B9B" />
                            </svg>
                        </a>
                    </div>
                    <div class="dash-inbox-content-card-col2 padding">

                        <!-- Fecha de inicio -->
                        <div class="marked-zone">
                            <p class="dash-inbox-content-card-date">31-12-2024</p>
                            <p class="dash-inbox-content-card-time">7:00 am</p>
                        </div>

                        <!-- Icono -->
                        <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="var(--color-extra-1)"
                                d="M2.76337 25.638C3.54021 26.3956 4.7795 26.3956 5.55629 25.6379L16.5322 14.9317C17.3369 14.1468 17.3369 12.8532 16.5322 12.0683L5.55629 1.3621C4.7795 0.604398 3.54021 0.604352 2.76337 1.362L1.46822 2.62513C0.663382 3.41009 0.663448 4.70399 1.46837 5.48886L8.21565 12.0681C9.02062 12.853 9.02062 14.147 8.21565 14.9319L1.46837 21.5111C0.663447 22.296 0.663382 23.5899 1.46822 24.3749L2.76337 25.638Z"
                                fill="#737373" />
                        </svg>

                        <!-- Fecha final -->
                        <div class="marked-zone">
                            <p class="dash-inbox-content-card-date">01-01-2025</p>
                            <p class="dash-inbox-content-card-time">3:00 pm</p>
                        </div>
                    </div>
                    <button class="approved-button">APPROVED</button>
                </div>

                <!-- FINAL TARJETA -->
            </div>
    </main>


    <!-- SWEET ALERTS -->
    <script src="../resources/js/sweetalert.min.js"></script>

    <!-- CONTROLADORES GENERALES -->
    <script src="../controllers/utils/components.js"></script>
    <script src="../controllers/utils/template.js"></script>

    <!-- CONTROLADORES ESPECIFICOS -->
    <script src="../controllers/private/dashboard.js"></script> <!-- CODIGO COMPARTIDO SOLO PARA QUE CARGUE EL SIDEBAR -->
</body>

</html>