<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crystal Gate</title>
    <link rel="stylesheet" href="../resources/css/index.css">
</head>
<body>
    <div class="contenedor">
        <img src="../resources/img/logo_login.png" alt="logo" class="logo">
        <h2>Log In</h2>
        <input type="email" class="textfield" placeholder="Email">
        <input type="password" class="textfield" placeholder="Password">
        <div class="btn-login"><h3>Login</h3></div>
    </div>
</body>
</html>