<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- COLORES PARA LOS ICONOS -->
    <link rel="stylesheet" href="../../resources/css/icons_colors.css">
    <!-- HEADER -->
    <link rel="stylesheet" href="../../resources/css/private_template.css">
</head>

<body>

    <header>
        <div class="header-container">
            <div class="header-sidebar">
                <div class="logo">
                    <img src="../../resources/img/default-profile-picture.png" alt="">
                </div>
                <div class="header-nav">
                    <div class="header-menu">
                        
                        <ul>
                            <li class="header-menu-active">
                                <a href="#">
                                    <i class="header-menu-icon ph-bold ph-house-simple"></i>
                                    <span class="header-menu-text">Dashboard</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <i class="header-menu-icon ph-bold ph-house-simple"></i>
                                    <span class="header-menu-text">Dashboard</span>
                                    <i class="header-menu-arrow ph-bold ph-caret-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-head">
                        <div class="header-user-img">
                            <img src="../../resources/img/default-profile-picture.png" alt="">
                        </div>
                        <div class="header-user-details">
                            <p class="header-title">Administrator</p>
                            <p class="header-name">Name Example</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ICONS -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</body>

</html>