<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    
    <!-- FUENTE -->
    <link rel="stylesheet" href="../resources/css/poppins.css">
    
    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- FONT MANAGER -->
    <link rel="stylesheet" href="../resources/css/font-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">

    <!-- PERMISSIONS TEMPLATE-->
    <link rel="stylesheet" href="../resources/css/reports1.css">
</head>

<style>



</style>

<body id="local-reports">
    <div id="TEMPLATE"></div>
    <main>
        <div class="main-header">
            <div class="main-title">
                <p>Reports</p>
            </div>
        </div>
        <div class="main-content">
            <select name="" id="">
                <option value="">op</option>
            </select>
        </div>
    </main>

    <!-- SWEET ALERTS -->
    <script src="../resources/js/sweetalert.min.js"></script>

    <!-- CONTROLADORES GENERALES -->
    <script src="../controllers/utils/components.js"></script>
    <script src="../controllers/utils/template.js"></script>

    <!-- CONTROLADORES ESPECIFICOS -->
    <script src="../controllers/private/dashboard.js"></script>
</body>


</html>