<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">

    <!-- DASHBOARD -->
    <link rel="stylesheet" href="../resources/css/request-info.css">


</head>

<body id="local-inbox">

    <div id="TEMPLATE"></div>

    <main>
        <div class="main-header">
            <div class="main-title">
                <p>Entry Request</p>
            </div>
        </div>

        
    </main>

    <!-- TEMPLATE DASHBOARD -->
    <script src="../controllers/utils/template.js"></script>

    <!-- JAVASCRIPT TEMPLATE -->
    <script src="../resources/js/template.js"></script>



</body>

</html>