<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Request</title>

    <!-- COLOR MANAGER -->
    <link rel="stylesheet" href="../resources/css/color-manager.css">

    <!-- PAGE TEMPLATE -->
    <link rel="stylesheet" href="../resources/css/template.css">

    <!-- DASHBOARD -->
    <link rel="stylesheet" href="../resources/css/dashboard.css">

    <!-- VACATION REQUEST--> 
    <link rel="stylesheet" href="../resources/css/vacation.css">
</head>
<body id="local-vacation-request">

    <div id="TEMPLATE"></div>
    
    <main>
        <div class="main-col-1">

            <div class="dash-extra-elements">
                <p class="dashboard-employee-name">Vacation Request</p>
            </div>
            <div class="searchbar">
                <input type="search" class="search">
                <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.5465 0C5.18004 0 0 5.37161 0 11.9735C0 18.5754 5.18004 23.947 11.5465 23.947C13.5001 23.9466 15.4107 23.4293 17.1028 22.458C18.0031 21.9412 19.1677 21.9944 19.8883 22.7416L23.9017 26.9034C24.4794 27.5025 25.4389 27.5025 26.0166 26.9034C26.5654 26.3344 26.5654 25.433 26.0166 24.8639L21.8408 20.5337C21.158 19.8256 21.1083 18.7336 21.5828 17.8718C22.5673 16.0838 23.0925 14.0521 23.093 11.9735C23.093 5.37161 17.9129 0 11.5465 0Z"
                        fill="#888888" />
                </svg>
            </div>

                    <div class="dash-inbox-content">
    
                        <!-- INICIO TARJETA -->
                        <div class="dash-inbox-content-card temp-info">
                            <div class="dash-inbox-content-card-col1 padding">
                                <p class="dash-inbox-content-card-name">Francisco Guadron</p>
                                <p class="dash-inbox-content-card-reason">Vacation</p>
                            </div>
                            <div class="dash-inbox-content-card-col2 padding">
                            
                                <!-- Fecha de inicio -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">31-12-2024</p>
                                </div>
    
                                <!-- Icono -->
                                <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="var(--color-extra-1)" d="M2.76337 25.638C3.54021 26.3956 4.7795 26.3956 5.55629 25.6379L16.5322 14.9317C17.3369 14.1468 17.3369 12.8532 16.5322 12.0683L5.55629 1.3621C4.7795 0.604398 3.54021 0.604352 2.76337 1.362L1.46822 2.62513C0.663382 3.41009 0.663448 4.70399 1.46837 5.48886L8.21565 12.0681C9.02062 12.853 9.02062 14.147 8.21565 14.9319L1.46837 21.5111C0.663447 22.296 0.663382 23.5899 1.46822 24.3749L2.76337 25.638Z" fill="#737373"/>
                                </svg>
                                    
                                <!-- Fecha final -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">01-01-2025</p>
                                </div>
                            </div>
                            <div class="dash-inbox-content-card-col3 padding">
                                <!-- Icono -->
                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path var(--color-extra-1) d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM22 30H18V18H22V30ZM22 14H18V10H22V14Z" fill="#9B9B9B"/>
                                </svg>
                            </div>
                        </div>
                        <!-- FINAL TARJETA -->
    
                        <!-- INICIO TARJETA -->
                        <div class="dash-inbox-content-card card temp-rejected">
                            <div class="dash-inbox-content-card-col1 padding">
                                <p class="dash-inbox-content-card-name">Juan Alvarenga</p>
                                <p class="dash-inbox-content-card-reason">Vacation</p>
                            </div>
                            <div class="dash-inbox-content-card-col2 padding">
                            
                                <!-- Fecha de inicio -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">31-12-2024</p>
                                </div>
    
                                <!-- Icono -->
                                <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="var(--color-extra-1)" d="M2.76337 25.638C3.54021 26.3956 4.7795 26.3956 5.55629 25.6379L16.5322 14.9317C17.3369 14.1468 17.3369 12.8532 16.5322 12.0683L5.55629 1.3621C4.7795 0.604398 3.54021 0.604352 2.76337 1.362L1.46822 2.62513C0.663382 3.41009 0.663448 4.70399 1.46837 5.48886L8.21565 12.0681C9.02062 12.853 9.02062 14.147 8.21565 14.9319L1.46837 21.5111C0.663447 22.296 0.663382 23.5899 1.46822 24.3749L2.76337 25.638Z" fill="#737373"/>
                                </svg>
                                    
                                <!-- Fecha final -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">01-01-2025</p>
                                </div>
                            </div>
                            <button class="rejected-button">REJECTED</button>
                        </div>
                        <!-- FINAL TARJETA -->
                        
                        <!-- INICIO TARJETA -->
                        <div class="dash-inbox-content-card temp-approved">
                            <div class="dash-inbox-content-card-col1 padding">
                                <p class="dash-inbox-content-card-name">Roxana Aguilar</p>
                                <p class="dash-inbox-content-card-reason">Vacation</p>
                            </div>
                            <div class="dash-inbox-content-card-col2">
                            
                                <!-- Fecha de inicio -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">31-12-2024</p>
                                </div>
    
                                <!-- Icono -->
                                <svg width="18" height="27" viewBox="0 0 18 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="var(--color-extra-1)" d="M2.76337 25.638C3.54021 26.3956 4.7795 26.3956 5.55629 25.6379L16.5322 14.9317C17.3369 14.1468 17.3369 12.8532 16.5322 12.0683L5.55629 1.3621C4.7795 0.604398 3.54021 0.604352 2.76337 1.362L1.46822 2.62513C0.663382 3.41009 0.663448 4.70399 1.46837 5.48886L8.21565 12.0681C9.02062 12.853 9.02062 14.147 8.21565 14.9319L1.46837 21.5111C0.663447 22.296 0.663382 23.5899 1.46822 24.3749L2.76337 25.638Z" fill="#737373"/>
                                </svg>
                                    
                                <!-- Fecha final -->
                                <div class="marked-zone">
                                    <p class="dash-inbox-content-card-date">01-01-2025</p>
                                </div>
                            </div>
                            <button class="approved-button">APPROVED</button>
                        </div>
                            
                        <!-- FINAL TARJETA -->
                    </main>

                    <!-- TEMPLATE DASHBOARD -->
                    <script src="../controllers/utils/template.js"></script>
                
                    <!-- JAVASCRIPT TEMPLATE -->
                    <script src="../resources/js/template.js"></script>
                
                    <!-- JAVASCRIPT TEMPLATE -->
                    <script src="../resources/js/dashboard.js"></script>
                    
                
                    
                
                </body>
                </html>

