:root{

    /* Fondo */
    --color-fondo-1: rgb(43, 43, 43);
    --color-fondo-2: rgba(56, 56, 56, 0.623);
    --color-fondo-3: #2D2D2D;
    --color-fondo-4: #D1D1D1;
    --color-fondo-5: #9B9B9B;
    --color-fondo-6: #D9D9D9;
    --calor-fondo-7: #F0F0F0;

    /* Principalmente texto */
    --color-texto-1: white;
    --color-texto-2: #737373;
    --color-texto-3: #737373;
    --color-texto-4: #363636;
    --color-texto-5: #464646;

    /* Colores extra */
    --color-extra-1: #888888;
    --color-extra-2: #E7E7E7;
    --color-extra-3: #626262;
    --color-extra-4: rgba(56, 56, 56, 0.623);
    --color-extra-5: #8DDA8C;
    --color-extra-6: #4292F6;
    --color-extra-7: #3229B1;
    --color-extra-8: #3452D3;
    --color-extra-9: #3F91FD;

    /* Main */
    --color-main--1: #F54C60;

    /* Medical*/
    --color-approved: #8DDA8C;
    --color-rejected:#F54C60;

    /* Hover Primary */
    --primary-hover-blue: #2d44ac;
    --primary-hover-red:#c23c4b;
    --primary-hover-green: #5fa85e;
}