main {
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 80px);
    gap: 30px;
}

main *{
    font-size: var(--normal-text-size);
}

.main-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 70%;
    height: 100%;
    /*extra*/
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

/*extra*/
.dash-extra-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

.dashboard-employee-name {
    font-size: var(--larger-xl-text-size);
    color: var(--color-texto-2);
    font-weight: 500;
}

.dashboard-clock {
    font-size: calc(var(--larger-xl-text-size) + 20px);
    color: var(--color-texto-2);
    font-weight: 600;
}

/*
.dashboard-date{
    font-size: 30px;
    color: var(--color-texto-2);
    font-weight: 600;
}
*/

.dashboard-date {
    font-size: var(--large-text-size);
    color: var(--color-texto-2);
    background-color: var(--color-extra-4);
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.dash-inbox {
    background-color: var(--color-extra-4);
    width: 100%;
    border-radius: 20px;
    height: 70%;
}

.dash-inbox-header {
    display: flex;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-inbox-header-title {
    width: 90%;
    padding-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.dash-inbox-header-title b {
    font-weight: 600;
    color: var(--color-texto-2);
    font-size: var(--large-text-size);
}

.dash-inbox-alert {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.dash-inbox-alert p {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-texto-1);
    padding: 10px;
    background-color: var(--color-main--1);
    margin-right: 30px;
    border-radius: 50%;
    font-weight: 600;
    font-size: var(--large-text-size);
}

.dash-inbox-content {
    overflow: hidden;
    overflow-y: auto;
    height: 88%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* Clases de la card */

.dash-inbox-content-card {
    background-color: var(--color-extra-2);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    padding: 15px;
    margin-right: 10px;
}

.dash-inbox-content-card-col1 {
    margin-top: auto;
    margin-bottom: auto;
    width: 45%;
}

.dash-inbox-content-card-col1 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-inbox-content-card-col2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.dash-inbox-content-card-col2 svg {
    margin: 10px;
}

.dash-inbox-content-card-col3 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marked-zone {
    background-color: var(--color-fondo-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

.dash-inbox-content-card-name,
.dash-inbox-content-card-date {
    color: var(--color-texto-2);
    font-weight: 600;
}

.dash-inbox-content-card-reason,
.dash-inbox-content-card-time {
    color: var(--color-fondo-5);
    font-weight: 500;
}

/* Permission measurer */

.main-col-2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    row-gap: 30px;
}

.permission-quantity {
    display: flex;
    flex-direction: column;
    background-color: var(--color-extra-4);
    border-radius: 20px;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.measurer {
    display: flex;
    width: 80%;
}

.measurer-number {
    font-size: var(--larger-xl-text-size);
    color: var(--color-texto-2);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.measurer-text {
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 600;
    color: var(--color-texto-2);
    font-size: var(--large-text-size);
    display: flex;
    justify-content: start;
    align-items: start;
}

/* Graph */

.dash-graph {
    background-color: var(--color-extra-4);
    height: 80%;
    border-radius: 20px;
}

.dash-graph-header {
    display: flex;
    flex-direction: row;
    padding: 20px 25px 20px 25px;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dash-graph-header b {
    font-weight: 600;
    color: var(--color-texto-2);
    font-size: var(--large-text-size);
    width: 60%;
}

.dash-graph-header .toggle {
    width: 40%;
    display: flex;
    flex-direction: row;
    background-color: var(--color-fondo-6);
    padding: 7px;
    font-size: var(--small-text-size);
    border-radius: 50px;
}

.dash-graph-header .toggle p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 50px;
    color: var(--color-texto-2);
    font-weight: 500;
}

.dash-graph-header .toggle .selected-statistics-sort {
    background-color: var(--color-extra-4);
    color: var(--color-texto-2);
    font-weight: 600;
    padding: 5px;
}

@media only screen and (max-width: 1500px) {

    /* Card responsive */

    .dash-inbox-content-card {
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-items: center;
    }

    .dash-inbox-content-card-col1 {
        margin-top: auto;
        margin-bottom: auto;
        width: 90%;
        padding: 10px 0px 10px 0px;
    }

    .dash-inbox-content-card-col2 {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .dash-inbox-content-card-col2 svg {
        margin: 10px;
        padding: 0%;
    }

    .dash-inbox-content-card-col3 {
        background-color: var(--color-fondo-4);
        width: 100%;
        margin-top: 10px;
        padding: 10px 0px 10px 0px;
        border-radius: 0px 0px 10px 10px;
    }

    .dash-inbox-content-card-col3 svg path {
        fill: var(--color-extra-1);
    }

    .marked-zone {
        padding: 5px;
        width: 35%;
    }



    /* measurer responsive */

    .permission-quantity {
        display: flex;
        flex-direction: column;
        background-color: var(--color-extra-4);
        padding: 0px;
        border-radius: 20px;
        height: 25%;
        justify-content: center;
        gap: 10px;
    }

    .measurer {
        display: flex;
        margin-left: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .measurer-number {
        font-size: var(--larger-text-size);
        color: var(--color-texto-2);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .measurer-text {
        margin: 0px;
        padding: 0px;
        font-weight: 600;
        color: var(--color-texto-2);
        font-size: var(--large-text-size);
        display: flex;
        justify-content: start;
        align-items: start;
    }



}

@media (width < 1390px) {

    main {
        align-items: center;
        justify-content: center;
    }

    .main-col-1 {
        flex-direction: column;
        width: 50%;
        row-gap: 20px;
    }

    .main-col-2 {
        flex-direction: column;
        width: 40%;
        row-gap: 20px;
    }
}

@media (width < 1000px) {

    .dash-extra-elements {
        align-items: center;
    }

    main {
        padding: 25px 0px 25px 0px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }


    .main-col-1 {
        flex-direction: column;
        width: 90%;
        row-gap: 20px;
        height: 900px;
    }

    .main-col-2 {
        flex-direction: column;
        width: 90%;
        row-gap: 20px;
    }

    .dash-extra-elements {
        align-items: start;
        width: 100%;
    }

    .dash-extra-elements p{
        width: 80%;
    }
}

@media (width < 600px) {

    .permission-quantity{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}