main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    gap: 30px;
}

.main-col{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.main-col-1{
    display: flex;
    flex-direction: column;

    padding: 30px;
    margin-left: 50px;
}

.main-col-2{
    display: flex;
    flex-direction: column;

    padding: 30px;

}

.employee-title{
    font-weight: 500;
    font-size: 35px;
    padding: 10px;
}

.employee-info{
    width: 50vh;
    background-color: var(--color-extra-2);
    /* Color de fondo de las tarjetas */
    padding: 20px;
    /* Espacio interno de las tarjetas */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho y alto total */
    position: relative;
    /* Permite posicionar los elementos hijos relativamente */
    border-radius: 20px;
    /* Agrega bordes redondeados */

    color: var(--color-extra-1);
    font-size: 15px;
}

.employee-info-email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
}

.employee-name {
    font-size: 25px;
    /* Tamaño de fuente más grande */
    font-weight: 600;
    margin: 20px 0px 20px 0px;
}

.attached-files{

    background-color: var(--color-extra-2);
    padding: 20px;
    border-radius: 20px;
    /* Agrega bordes redondeados */
}

.attached-files b{
    font-size: 25px;
    color: var(--color-extra-1);
}

.btn-report{
    background-color: var(--color-extra-6);
    display: flex;
    border-radius: 20px;
    padding: 10px;

    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 180px;
    cursor: pointer;
}

.btn-report-pdf{
    background-color: var(--color-main--1);
    display: flex;
    border-radius: 20px;
    padding: 10px;

    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 180px;
    cursor: pointer;
}

.btn-report-cont{
    display: grid;
    grid-column: auto;
    justify-items: center;
}


.btn-report-text{
    font-weight: 600;
    font-size: 25px;
    color: var(--color-texto-1);
    padding: 10px;    
}