:root{

    --larger-xl-text-size: 40px;
    --larger-text-size: 35px;
    --large-text-size: 20px;
    --normal-text-size: 16px;
    --small-text-size: 14px;
    --smaller-text-size: 12px;
    --smaller-xs-text-size: 12px;

    --thin-text-weight: 400;
    --medium-text-weight: 500;
    --bold-text-weight: 600;
    
}

@media (width < 1390px) {

    
    :root {
        --larger-xl-text-size: 30px;
        --larger-text-size: 35px;
        --large-text-size: 20px;

        --normal-text-size: 16px;

        --small-text-size: 15px;
        --smaller-text-size: 12px;
        --smaller-xs-text-size: 12px;
    }
}

@media (width < 600px) {

    :root {
        --larger-xl-text-size: 22px;
        --larger-text-size: 20px;
        --large-text-size: 18px;

        --normal-text-size: 16px;

        --small-text-size: 15px;
        --smaller-text-size: 12px;
        --smaller-xs-text-size: 12px;
    }
}