@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

:root{

    --larger-xl-text-size: 40px;
    --larger-text-size: 35px;
    --large-text-size: 20px;
    --normal-text-size: 16px;
    --small-text-size: 14px;
    --smaller-text-size: 12px;
    --smaller-xs-text-size: 12px;

    --thin-text-weight: 400;
    --medium-text-weight: 500;
    --bold-text-weight: 600;
    
}

@media (width < 1390px) {

    
    :root {
        --larger-xl-text-size: 30px;
        --larger-text-size: 35px;
        --large-text-size: 20px;

        --normal-text-size: 16px;

        --small-text-size: 15px;
        --smaller-text-size: 12px;
        --smaller-xs-text-size: 12px;
    }
}

@media (width < 600px) {

    :root {
        --larger-xl-text-size: 22px;
        --larger-text-size: 20px;
        --large-text-size: 18px;

        --normal-text-size: 16px;

        --small-text-size: 12px;
        --smaller-text-size: 12px;
        --smaller-xs-text-size: 12px;
    }
}