@font-face {
  font-family: "pi-l3";
  src: url(../fonts/poppins/l3-i.ttf);
}
@font-face {
  font-family: "pi-l2";
  src: url(../fonts/poppins/l2-i.ttf);
}
@font-face {
  font-family: "pi-l1";
  src: url(../fonts/poppins/l1-i.ttf);
}
@font-face {
  font-family: "pi";
  src: url(../fonts/poppins/p-i.ttf);
}
@font-face {
  font-family: "pi-b1";
  src: url(../fonts/poppins/b1-i.ttf);
}
@font-face {
  font-family: "pi-b2";
  src: url(../fonts/poppins/b2-i.ttf);
}
@font-face {
  font-family: "pi-b3";
  src: url(../fonts/poppins/b3-i.ttf);
}
@font-face {
  font-family: "pi-b4";
  src: url(../fonts/poppins/b4-i.ttf);
}
@font-face {
  font-family: "pi-b5";
  src: url(../fonts/poppins/b5-i.ttf);
}


@font-face {
  font-family: "p-l3";
  src: url(../fonts/poppins/l3.ttf);
}
@font-face {
  font-family: "p-l2";
  src: url(../fonts/poppins/l2.ttf);
}
@font-face {
  font-family: "p-l1";
  src: url(../fonts/poppins/l1.ttf);
}
@font-face {
  font-family: "p";
  src: url(../fonts/poppins/p.ttf);
}
@font-face {
  font-family: "p-b1";
  src: url(../fonts/poppins/b1.ttf);
}
@font-face {
  font-family: "p-b2";
  src: url(../fonts/poppins/b2.ttf);
}
@font-face {
  font-family: "p-b3";
  src: url(../fonts/poppins/b3.ttf);
}
@font-face {
  font-family: "p-b4";
  src: url(../fonts/poppins/b4.ttf);
}
@font-face {
  font-family: "p-b5";
  src: url(../fonts/poppins/b5.ttf);
}
