.customize-type-em{
    display: none;
}

/*MAXIMIZADO*/
.customize.active .customize-type-em.selected {
    background-color: var(--color-extra-4);
    padding: 20px;
    margin-left: 40px;
    margin-top: -6px;
    font-weight: 600;
    font-size: 23px;
    color: var(--color-fondo-5);
    width: 1000px;
    height: 140px;
    border-radius: 0px 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.type{
    display: flex;
    justify-content: space-between;
}

.type-img{
    display: none;
}
.customize-type-em.selected .type{
    width: 45%;
    height: 60px;
    margin: 5px;
    align-items: center;
    align-content: center;
    padding: 0 20px;
    cursor: pointer;
}

.customize-type-em.selected .type:hover{
    background-color: var(--color-extra-2);
    color: var(--color-texto-2);
    border-radius: 10px;

}

.customize-type-em.selected .type.selected{
    background-color: var(--color-extra-2);
    color: var(--color-texto-2);
    border-radius: 10px;

}
.type.selected .type-img{
    display: block;
}

.customize-filter-bottom.selected .pending-btn{
    display: none;
}
.customize-filter-bottom.selected .accepted-btn{
    display: none;
}
.customize-filter-bottom.selected .rejected-btn{
    display: none;
}

.customize.active .customize-filter-bottom.selected{
    display: flex;
    background-color: var(--color-extra-2);
    margin-left: 40px;
    margin-top: -6px;
    width: 1040px;
    height: 60px;
    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
}

@media only screen and (max-width: 600px){
    .customize.active .customize-type-em.selected {
        margin-left: 0px;
        color: var(--color-fondo-5);
        width: 250px;
        height: 380px;
        border-radius: 0px 0px 0px 0px;
    }
    .customize-type-em.selected .type{
        width: 80%;
        height: auto;
        margin: 5px;
        padding: 8px 20px;
    }
 
 
    .customize.active .customize-filter-bottom.selected{
        margin-left: 0px;
        width: 290px;
        height: 60px;
    }
}