.customize-type-ml{
    display: none;
}

/*MAXIMIZADO*/
.customize.active .customize-type-ml{
    background-color: var(--color-extra-4);
    padding: 20px;
    margin-left: 40px;
    margin-top: -6px;
    font-weight: 600;
    font-size: 23px;
    color: var(--color-fondo-5);
    width: 1000px;
    border-radius: 0px 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5vh 0;
}

.type{
    width: 32%;
    display: flex;
    justify-content: space-between;
}

.type-img{
    width: 35px;
    height: 35px;
    display: none;
}
.customize-type-ml.type{
    width: 45%;
    height: 100px;
    margin: 5px;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    cursor: pointer;
}

.customize-type-ml .type:hover{
    background-color: var(--color-extra-2);
    color: var(--color-texto-2);
    border-radius: 10px;
    cursor: pointer;
}

.customize-type-ml .type.selected{
    background-color: var(--color-extra-2);
    color: var(--color-texto-2);
    border-radius: 10px;

}
.type.selected .type-img{
    display: block;
}

@media only screen and (max-width: 600px){
    .customize.active .customize-type-ml{
        margin-left: 0px;
        color: var(--color-fondo-5);
        width: 250px;
        height: 250px;
        border-radius: 0px 0px 0px 0px;
    }
    .customize-type-ml .type{
        width: 80%;
        height: 65px;
        margin: 5px;
        padding: 2px 20px;
    }
}