:root{
    --general-main-width: 90%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-text-size);
}

/*Custom textbox*/

.main-header{
    width: var(--general-main-width);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.main-utilities{
    width: var(--general-main-width);
    display: flex;
    gap: 20px;
    height: 40px
}

/* Titulo */

.main-title{
    color: var(--color-texto-2);
    font-weight: var(--bold-text-weight);
    width: var(--general-main-width);
}

.main-title p{
    color: var(--color-texto-2);
    font-weight: var(--normal-text-weight);
    font-size: var(--larger-text-size);
}


/* MAIN CONTENT */

.main-content{
    width: var(--general-main-width);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 15px;
    padding-bottom: 25px;
}


@media only screen and (max-width: 800px) {

    :root{
        --general-main-width: 90%;
    }

}
